body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto",sans-serif;
    }

a {
    text-decoration: none;
}

ul {
 list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

.header-logo-new {
        color: var(--IRIS, #4D5AE5);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16px;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo { 
            color: var(--NAVY-BLUE, #2E2F42);
            font-size: 18px;
            font-weight: 700;
            line-height: 1.16px;
            /* 116.667% */
            letter-spacing: 0.03em;
            text-transform: uppercase;

}
.header-menu-item:hover {
    color:chocolate;
}

.header-menu-item {
        color: var(--NAVY-BLUE, #2E2F42);
        /* Body Medium */
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5px;
        /* 150% */
        letter-spacing: 0.02em;
}
.header-mail {
        color: var(--SLATE, #434455);
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5px;
        /* 150% */
        letter-spacing: 0.02em;
}

.header-tel {
        color: var(--SLATE, #434455);
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5px;
        /* 150% */
        letter-spacing: 0.02em;
}
/** ------------HERO---------------- */


.main {}

.hero {
    
   background: var(--NAVY-BLUE, #2E2F42) 
}

.hero-title {
        color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07px;
        letter-spacing: 0.02em;
}

.hero-order-btn {
        color: var(--WHITE, #FFF);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5px;
        letter-spacing: 0.04em;
        cursor: pointer;
}

/** ------------------------------ */

/** -----------FEATURES---------- */


.features {
    background: #FFF;
}

.features-list {}

.features-item {}

.features-subtitle {
        color: var(--NAVY-BLUE, #2E2F42);
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2px;
        /* 120% */
        letter-spacing: 0.02em;
}

.features-item-text {
         color: var(--SLATE, #434455);
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5px;
        /* 150% */
        letter-spacing: 0.02em;
}

/** ------------------------------ */

/** -----------TEAM----------- */

.team {
    background: var(--CLOUD, #F4F4FD);
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11px;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {}

.team-item {}

.team-img {}

.team-subtitle-main {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2px;
        /* 120% */
        letter-spacing: 0.02em;
}

.team-subtitle {
    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5px;
        /* 150% */
        letter-spacing: 0.02em;
}

/** ------------------------------ */

/**------------FOOTER--------------*/


.footer {
    background: var(--NAVY-BLUE, #2E2F42);
}

.footer-logo {
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17px;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo span {
        color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17px;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-main {
    color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5px;
        letter-spacing: 0.02em;
}